.buylist
  .bottom 
    
  h1 -BUYLIST-
    div.small The a simple project
  .buy_item.ctrl_panel
    label GOOD:
    input#inputname( placeholder="　．．．．．")
    label $$:
    input#inputprice(placeholder="　．．．．．")
    span.addbtn ++++
  #item_list
    //- li.buy_item 1.豬肉
    //-   .price 100 
    //-   .del_btn X
    //- li.buy_item 2.豬肉
    //-   .price 100 
    //-   .del_btn X
    //- li.buy_item 3.豬肉
    //-   .price 100 
    //-   .del_btn X
    //- .li.buy_item.total 總價
    //-   .price 500
      